In [1]:
import pandas as pd

In [4]:
random = pd.Series(['abs,','bin,','copy=','data='], index=[2,4,8,16])
random

2      abs,
4      bin,
8     copy=
16    data=
dtype: object

In [7]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
random[0:2]

2    abs,
4    bin,
dtype: object

In [19]:
dict = {'Jugador': ['Navas', 'Mbape', 'Neymar', 'Messi'], 'Altura': [183.0,170.0,170.0,165.0], 'Goles':[2,200,200,200]}

In [20]:
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7    Mbape   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [13]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [14]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [21]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1   Mbape   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200